Repository doxa-tech/bullenetwork-constellation, pull requests merged in 2023-05, with the labels that each got.

#93 Adds a map with activities
  o2vie-chatel.ch_v2/package-lock.json
  o2vie-chatel.ch_v2/package.json
  o2vie-chatel.ch_v2/public/images/marker-icon-2x.png
  o2vie-chatel.ch_v2/public/images/marker-icon.png
  o2vie-chatel.ch_v2/public/images/marker-shadow.png
  o2vie-chatel.ch_v2/src/components/Map.module.scss
  o2vie-chatel.ch_v2/src/components/Map.tsx
  o2vie-chatel.ch_v2/src/components/leaflet.scss
  o2vie-chatel.ch_v2/src/components/map.scss
  o2vie-chatel.ch_v2/src/pages/index.astro
  o2vie-chatel.ch_v2/src/pages/index/WhereWeAre.astro
Labels: o2vie-chatel.ch

#94 Fixes map icons on O2Vie
  o2vie-chatel.ch_v2/public/leaflet/marker-icon-2x.png
  o2vie-chatel.ch_v2/public/leaflet/marker-icon.png
  o2vie-chatel.ch_v2/public/leaflet/marker-shadow.png
  o2vie-chatel.ch_v2/src/components/Map.tsx
  o2vie-chatel.ch_v2/src/pages/index/WhereWeAre.astro
Labels: o2vie-chatel.ch

#95 Adds SEO tags for O2vie
  o2vie-chatel.ch_v2/public/social-preview.png
  o2vie-chatel.ch_v2/src/components/SiteMeta.astro
  o2vie-chatel.ch_v2/src/layouts/Layout.astro
  o2vie-chatel.ch_v2/src/pages/index.astro
Labels: o2vie-chatel.ch

#96 Remove past event for Waykup
  waykup.ch/assets/stylesheets/pages/event.css
  waykup.ch/event.html
Labels: waykup.ch

#97 Adds a retry mechanism when the token expires
  bullenetwork.ch/src/components/media.js
  bullenetwork.ch/src/components/partition.js
  bullenetwork.ch/src/components/securedirectus.js
  bullenetwork.ch/src/pages/medias.js
  bullenetwork.ch/src/pages/partitions.js
Labels: bullenetwork.ch
